<form action="/createmovie" method = "POST">                       
    <p>Title <input type = "Title" Title = "Title" /></p>
    <p>Year <input type = "Year" Year = "Year" /></p>
    <p>Director <input type = "Director" Director = "Director" /></p>
    <p>Genre <input type = "Genre" Genre = "Genre" /></p>
    <p>Actors <input type = "Actors" Actors = "Actors" /></p>
    <p>Poster <input type = "Poster" Poster = "Poster" /></p>
    <p>imdbID <input type = "imdbID" imdbID = "imdbID" /></p>
    <p><input type = "submit" value = "Submit" /></p>
 </form>